<ion-content [fullscreen]="true">
  <div class="chat-header">
    <div class="rectangulo"></div>
    <div class="triangulo"></div>
    <p class="encabezado">Chat Grupal 1</p>
    <a href="/chat-rooms"><img src="assets/img/back.png" alt="back" class="back"></a>
    <p class="logo-text">Hola</p>
    <img src="assets/img/Logo.png" alt="logo" class="logo">
  </div>
  <div class="input-background">
    <div class="input-chat">
      <ion-input>
      </ion-input>
    </div>
    <a href=""><img src="assets/img/send.png" alt="send" class="send"></a>
  </div>
</ion-content>