<ion-content [fullscreen]="true">
  <div class="chat-header">
    <div class="rectangulo"></div>
    <div class="triangulo"></div>
    <p class="encabezado">{{ chatTitle }}</p>
    <a href="/chat-rooms"><img src="assets/img/back.png" alt="back" class="back"></a>
    <img src="assets/img/Logotipo.png" alt="logo" class="logo">
  </div>
  
  @if (cargando) {
    <div class="overlay">
      <div class="spinner-container">
        <ion-spinner name="bubbles"></ion-spinner>
      </div>
    </div>
  }

  <div class="mensajes">
    <ng-container *ngIf="mensajes$ | async as mensajes">
      <div *ngFor="let mensaje of mensajes" class="mensaje">
        <p>{{ mensaje.mensaje }}</p>
      </div>
    </ng-container>
  </div>

  <div class="input">
    <div class="input-chat">
      <ion-input [(ngModel)]="mensaje" placeholder="Escribe un mensaje..."></ion-input>
    </div>
    <a (click)="sendMessage()"><img src="assets/img/send.png" alt="send" class="send"></a>
  </div>
</ion-content>