<ion-content [fullscreen]="true">
  <div class="container">
    <div class="content">
      <img src="assets/img/Logotipo.png" alt="logotipo" class="logotipo">
    </div>
  </div>

  <div class="input-element">
    <div>
      <ion-input [(ngModel)]="correo" (ngModelChange)="onUsuarioChange()" value=""></ion-input>
      <p class="text" >Correo Electrónico</p>
    </div>
    <div class="password-container">
      <ion-input type="password" [(ngModel)]="contrasenha" (ngModelChange)="onUsuarioChange()" value="">
      </ion-input>
      <p class="text"[ngClass]="{'advertencia': loginError}">
        {{ loginError ? 'Datos incorrectos' : 'Contraseña' }}
      </p>
    </div>
  </div>

  <div class="botones">
    @if (cargando) {
      <div style="text-align: center;">
        <ion-spinner name="bubbles"></ion-spinner>
      </div>
    }
    
    <div class="boton">
      <ion-button shape="round" (click)="login()">Iniciar Sesión</ion-button>
    </div>

    <div class="register-option">
      <p>¿No tenés una cuenta? <a href="/register">Registrarse</a></p>
    </div>
  </div>
</ion-content>
