<ion-content [fullscreen]="true">
  <div class="container">
    <div class="content">
      <p>Hola</p>
      <img src="assets/img/Logo.png" alt="logo" class="logo">
    </div>
  </div>

  <div class="input-element">
    <div>
      <ion-input value=""></ion-input>
      <p class="text">Nombre de Usuario</p>
    </div>
    <div class="password-container">
      <ion-input type="password" value="">
      </ion-input>
      <p class="text">Contraseña</p>
    </div>
  </div>

  <div class="login-button">
    <ion-button class="boton" shape="round" href="/chat-rooms">
      <p>Iniciar Sesión</p>
    </ion-button>
  </div>

  <div class="login-option">
    <p>¿No tenés una cuenta? <a href="/register">Registrarse</a></p>
  </div>
</ion-content>
