<ion-content [fullscreen]="true">
  <div class="container">
    <div class="content">
      <img src="assets/img/Logotipo.png" alt="logotipo" class="logotipo">
    </div>
  </div>

  <div class="input-element">
    <div>
      <ion-input type="text" [(ngModel)]="usuario" (ngModelChange)="onUsuarioChange()"></ion-input>
      <p class="text" [ngClass]="{'advertencia': usuarioExistente}">
        {{ usuarioExistente ? 'El usuario ya está registrado' : 'Nombre de Usuario' }}
      </p>
    </div>
    <div>
      <ion-input type="text" [(ngModel)]="correo"></ion-input>
      <p class="text">Correo Electrónico</p>
    </div>
    <div>
      <ion-input type="password" [(ngModel)]="contrasenha"></ion-input>
      <p class="text">Contraseña</p>
    </div>
  </div>

  <div class="botones">
    <div class="boton">
      <ion-button shape="round" --(click)="registrarUsuario()">Registrarse</ion-button>
    </div>
    <div class="login-option">
      <p>¿Ya tenés una cuenta? <a href="/login">Iniciar Sesión</a></p>
    </div>
  </div>
</ion-content>