.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logotipo {
  display: flex;
  width: 40%;
  max-width: 500px;
  height: auto;
  margin: auto;
  margin-top: 20%;
  margin-bottom: 20%;
}

.input-element ion-input {
  text-align: center;
  border-bottom: 1.6px solid black;
  width: 205px;
  margin-left: auto;
  margin-right: auto;
  --highlight-color: #009951;
}

.text {
  font-weight: 600;
  text-align: center;
  font-size: 12px;
  color: rgba(44, 44, 44, 0.34);
  margin-top: 3px;
}

.login-option {
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  color: rgba(44, 44, 44, 0.34);
}

.advertencia {
  color: #FF4C4C;
  font-weight: 600;
  text-align: center;
  font-size: 12px;
  margin-top: 3px;
}

.botones {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton ion-button {
  color: black;
  --background: #009951;
  min-width: 165px;
  max-width: 165px;
  font-weight: bold;
  font-size: clamp(13px, 14px, 15px);
  text-transform: capitalize;
}

.botones p {
  font-size: clamp(12px, 13px, 14px);
}